body {
  max-width: 800px;
  margin: 20px auto;
}

.container {
  background-color: #2a52be;
  padding: 35px;
  outline: 1px solid white;
  outline-offset: -15px;
  color: white;
  font-family: monospace;
}

.footer {
  margin-top: 5px;
  text-align: right;
}

.footer a {
  text-decoration: none;
}

h1 {
  margin-bottom: 0;
  font-size: 42px;
}

.your_location {
  text-align: right;
  font-size: 10px;
}

.your_location a {
  font-size: 14px;
  color: white;
}
.your_location a:hover {
  color: gray;
}

.right_and_vertical_align {
  margin: auto;
  text-align: right;
}

.left_and_vertical_align {
  margin: auto;
  text-align: left;
}

.country {
  margin-bottom: 0;
  font-weight: normal;
}

.local {
  font-weight: normal;
}

.display_temperature {
  font-size: 20px;
}

.display_temperature a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.transfer {
  font-size: 26px;
  font-weight: bold;
}

.today_container {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}

.actual_data {
  font-size: 26px;
  font-weight: bold;
}

.next_day {
  text-align: center;
}

.enter_your_city {
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  border-radius: 4px;
}

input::placeholder {
  color: white;
  opacity: 0.3;
}

.search_city_submit {
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

.search_city_submit:hover {
  border: 3px solid white;
}

.last_updated_time {
  font-size: 14px;
  font-weight: 200;
}

.today_icon {
  width: 80px;
}

.today_first_value {
  font-size: 30px;
}

.today_second_value {
  font-size: 20px;
  margin-left: 10px;
}

.more_information {
  font-size: 14px;
}

.next_day_name,
.next_day_first_value {
  font-size: 20px;
}

.next_day_icon {
  width: 50px;
}

.next_day_second_value {
  font-size: 14px;
}
